
<div class="card align-items-center mt-5 mb-5">
    <div class="card-header">
        <div class="card-body">
            <table>
                <tr>
                    <th>ID</th>
                    <td>{{userId}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{name | titlecase}}</td>
                </tr>
                <tr>
                    <th>UserName</th>
                    <td>{{userName | titlecase}}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{role}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          Edit 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne"
      style="text-align: -webkit-center;">
        <div class="accordion-body">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <td>
                        <input class="form-control" type="text" [(ngModel)]="ename" aria-describedby="addon-wrapping">
                    </td>
                </tr>
                <!-- <tr>
                    <th>UserName</th>
                    <td>
                        <input class="form-control" type="text" [(ngModel)]="euserName" aria-describedby="addon-wrapping">
                    </td>
                </tr> -->
                <tr>
                    <th>Role</th>
                    <td>
                        <select class="form-select" aria-label="Default select example" (change)="selectChange($event.target.value)">
                            <option>{{erole}}</option>
                            <option>Admin</option>
                            <option>Customer</option>
                          </select>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" (click)="editDetails()"  [disabled]="disBtn">
                <span *ngIf="disSpinner"  class="spinner-border spinner-border-sm"></span>
                Submit</button>
        </div>
      </div>
    </div>
  </div>




