<div class="card " style="align-items: center;color: white;">
    <div class="card-header bg-dark">
        <div class="card-body">
            <form>
                <table>
                    <tr>
                        <th>Card Number</th>
                        <td><input name="credit-card" type="text" placeholder="Enter your 16-digit card number"
                                credit-card></td>
                    </tr>
                    <div class="mb-3"></div>
                    <tr>
                        <th>CVV</th>
                        <td><input type="number" maxlength="3"></td>
                    </tr>
                    <div class="mb-3"></div>
                    <tr>
                        <th>Expiry Date</th>
                        <td><input type="month"></td>
                    </tr>
                    <div class="mb-3"></div>
                </table>
                <button class="btn btn-primary payBtn mb-3 w-100" type="submit" >Pay</button>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-dark">
                        <a target="_blank" href="https://pay.google.com/"><img src="assets/newgpay.png"
                                class="img-thumbnail" style="margin-right: 2rem;margin-left: 1rem;"></a>
                        <a target="_blank" href="https://www.phonepe.com/"><img src="assets/newphonepe.png"
                                class="img-thumbnail" style="margin-right: 2rem;"></a>
                        <a target="_blank" href="https://paytm.com/"><img src="assets/newpaytm.png"
                                class="img-thumbnail"></a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>