<div class="card" style="margin-left: 620px;margin-top: 200px;" >
    <div class="card-body">
        <form ngNativeValidate [formGroup]='loginForm' (ngSubmit)="login()">
            <div class="row mb-2">
                <div class="form-floating col-4">
                    <input class="form-control" type="text" placeholder="User Name" formControlName="userName" required>
                    <label for="floatingInput">User Name</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class=" form-floating col-4">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password"
                        required>
                    <label for="floatingInput">Password</label>
                    <a routerLink='/forgotPwd'>Forgot Password</a>
                    <a routerLink='/register'>Register</a>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-default" routerLink='/login'  [disabled]="disBtn">
                        <span *ngIf="disSpinner"  class="spinner-border spinner-border-sm"></span>
                         Login</button>
                </div>
            </div>
        </form>
    </div>
</div>