<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 30px;margin-left: 30px;">Add Owner Details</h5>
        <form ngNativeValidate [formGroup]="ownerForm" (ngSubmit)="saveOwnerDetails()">
            <div class="row mb-3" style="width: 60%;margin-left: 10px;">
                <div class="form-floating col-4">
                    <input type="text" class="form-control" placeholder="Owner Name" formControlName="ownerName"
                        required limit-to="30">
                    <label for="floatingInput">Owner Name</label>
                </div>
                <div class=" form-floating col-4">
                    <input type="number" class="form-control" placeholder="Flat No" formControlName="flatNo" required>
                    <label for="floatingInput">Flat No</label>
                </div>
                <div class="form-floating col-4">
                    <input type="number" class="form-control" placeholder="Contact" formControlName="contactNo"
                        required limit-to="10">
                    <label for="floatingInput">Contact</label>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <button class="btn btn-default float-end" type="submit">
                        <span *ngIf='disSpinner'><i class="fa fa-circle-o-notch fa-spin"></i> </span>
                        Add
                    </button>
                    <button  class="btn btn-default float-end me-5" type="button"
                        (click)="clearDetails()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 30px;margin-left: 30px;">Update Owner Details</h5>
        <form [formGroup]='updateForm' (ngSubmit)='updateDetails()'>
            <div class="row" style="width: 60%;margin-left: 10px;">
                <div class="form-floating col-4">
                    <ng-select class="form-control" [items]="FlatList" placeholder="Flat No" [virtualScroll]="true"
                        formControlName="FlatNo" (search)="onSearchFlat($event)" (ngModelChange)="onSelectFlat($event)">
                    </ng-select>
                    <span style="font-size: 12px;
            background: radial-gradient(#f2f550, transparent);float: right;">Type atleast 2 characters</span>
                </div>
                <div class="form-floating col-4">
                    <input class="form-control" pattern="[A-Za-z]+" type="text" placeholder="Owner"
                        formControlName="Owner" required maxlength="20" limit-to="30">
                        <label for="floatingInput">Owner</label>
                </div>
                <div class="form-floating col-4">
                    <input class="form-control" type="text" placeholder="Contact" formControlName="Contact"
                        maxlength="10" required limit-to="10">
                        <label for="floatingInput">Contact</label>
                </div>
                <div class="col-3">
                    <input hidden class="form-control" type="text" placeholder="id" formControlName="id" required>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-default float-end" type="submit">
                        <span *ngIf='disSpinner'><i class="fa fa-circle-o-notch fa-spin"></i> </span>
                        Update
                    </button>
                </div>
            </div>
        </form>