<div class="row">
    <div class="container-fluid header">
        <h2>{{apartmentTitle}}</h2>
        <h6>{{apartmentAddress}}</h6>
        
        <div style="float: right;margin-top: -47px;margin-right: -15px;">
            <button type="button" data-toggle="tooltip" data-placement="bottom" title="LogOut" style="margin-right: 31px;
            margin-top: -3px;" (click)='logOut()'><i class="fa fa-sign-out" style="font-size:24px"></i></button>
        </div>
    </div>
</div>

<div class="row">
    <nav class="navbar menu" style="width: 100%;">
        <a class="navbar-brand" (click)='onHome()'>
            <i class="fa fa-home" style="font-size:24px"></i> Home</a>
        <a class="navbar-brand" (click)='onAdmin()'>
            <i class="fa fa-user-circle-o" style="font-size:24px"></i> Admin</a>
        <a class="navbar-brand" (click)='onHelp()'>
            <i class="fa fa-info-circle" style="font-size:24px"></i> Help</a>
        <a class="navbar-brand" (click)='onComplaints()'>
            <i class="fa fa-question-circle" style="font-size:24px"></i> Complaints</a>
        <a class="navbar-brand" (click)='onGlimpse()'>
            <i class="fa fa-camera" style="font-size:24px"></i> Glimpses</a>
    </nav>
</div>

<div *ngFor="let tab of componentOutlet">
    <div *ngComponentOutlet="tab.component"></div>
</div>