<button class="btn btn-primary mt-5" (click)="gotoLogin()" title="back">
    <span class="fa fa-arrow-left"></span>
</button>
<div *ngIf="!hidenewPwd" class="card mb-5 mt-5">
    <div class="card-header">
        <h2>Change Password</h2>
        <div class="card-body">
            <form #registerForm="ngForm" [formGroup]="otpForm" (ngSubmit)="sendOtp()">
                <div class="row mb-5">
                    <div class="form-floating col-3" style="margin-left: 300px;">
                        <input class="form-control" type="text" placeholder="Enter Username" formControlName="userName">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit" [disabled]="disbtn" [disabled]="registerForm.form.invalid">
                        <span *ngIf="disSpinner"  class="spinner-border spinner-border-sm"></span> GenerateOTP</button>
                    </div>
                </div>
            </form>
            <form #loginForm="ngForm" [formGroup]="newotpForm" (ngSubmit)="validateOtp()">
                <div class="row">
                    <div class="form-floating col-3" style="margin-left: 300px;">
                        <input class="form-control" type="number" placeholder="Enter OTP" formControlName="otpNumber" required>
                        <label for="floatingInput">OTP</label>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit" [disabled]="isbtn" [disabled]="loginForm.form.invalid">
                        <span *ngIf="isSpinner"  class="spinner-border spinner-border-sm"></span> Validate OTP</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div *ngIf="hidenewPwd" class="card">
    <div class="card-header">
        <div class="card-body">
            <form #changePwdForm="ngForm" [formGroup]="changePwdForm" (ngSubmit)="changePassword()">
                <div class="row">
                    <div class="form-floating col-3" style="margin-left: 300px;">
                        <input class="form-control" type="text" placeholder="new password" formControlName="newpwd">
                        <label for="floatingInput">New Password</label>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit" [disabled]="changePwdForm.form.invalid">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>