<div class="d-flex justify-content-between">
    <h4 class="ms-3">{{tableTitle}}</h4>
    <div class="accordion accordion-flush mb-2 float-end" id="accordionExample" style="display: inline-block;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo"
                    style="background: none;border: none;outline: none;box-shadow: none;" title="options">
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-flex">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort By
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li *ngFor="let col of colName" style="cursor: pointer;">
                                <a class="dropdown-item" (click)="sortColfetch(col)">{{col}}</a></li>
                            </ul>
                          </div>
                        <svg (click)="downloadFile()" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg"
                            width="38" height="24" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <i class="fa fa-refresh mt-1 me-3" style="cursor: pointer;" title="Refresh" aria-hidden="true"
                            (click)="getOwnerDetails()"></i>
                        <h6 class="mt-1 me-3">Page Size</h6>
                        <select #box class="selectDropdown me-3" id="pageSize" name="size"
                            (change)="sendPage(box.value)">
                            <option value=10>10</option>
                            <option value=20>20</option>
                            <option value=30>30</option>
                            <option value=40>40</option>
                        </select>
                        <p class="pr-1 me-2">Total Pages:</p>
                        <p class="pr-3 me-3">{{totalPages}}</p>
                        <button class="buttonClass" (click)="prevPage()"><i class="fa fa-angle-left"></i></button>
                        <span style="margin-top: 3px;">{{pageNo}}</span>
                        <button class="buttonClass" (click)="nextPage()"><i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card table-responsive" style="height: 500px;margin-left: 16px;margin-top: 10px;width: 98%;">
    <table class="table table-borderless table-striped table-dark table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Owner Name</th>
                <th>Flat No</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of ownerDetails">
                <td>{{row.id}}</td>
                <td>
                <a style="cursor: pointer;" (click)="viewOwner(row.id)">{{row.name}}</a></td>
                <td>{{row.flatno}}</td>
                <td>{{row.contact}}</td>
            </tr>
        </tbody>
    </table>
</div>